nav {
    display:flex;
}

nav a {
    color: #B5B5B5;
    flex-grow: 10;
    text-align:center;
    cursor:pointer;
    transition : all 0.4s ease-out;
    text-transform: uppercase;
    text-decoration: none;
}

nav div:hover {
    color:white;
    border-bottom: 5px solid #e5005b;
    margin: 0px auto;
    padding-bottom: 16px;
    transition: border-color .50s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
    font-family: sans-serif;
    background-color: white;
    background-image: url(https://www.concordiadekeizer.nl/app/themes/v1/dist/img/layout/patroon-tegel-RGB-light.png);
}

header {
    height:120px;
    background-color: #4A4A4A;
    margin: 0 auto;
    padding: 10px 0;

}

header hr {
    font-weight: bolder;
    color: #B5B5B5;
}

header h1{
    color: #9FA42D;
    text-align: center;
    height: auto;
}

header nav{
    color: #B5B5B5;
    font-weight: bolder;

}

#overzichtSectie {
    margin: 20px;
    padding: 20px;
    background-color: white;
    position: center;
}

#bevestigingSectie {
    margin: 20px;
    padding: 20px;
    background-color: white;
    position: center;
}

main {
    max-width: 1000px;
    margin : 0 auto;
}

button {
    padding: 6px;
    border:none;
    background-color: #4A4A4A;
    color: #9FA42D;
    cursor: pointer;
}

#vergaderuimte {
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

#werkplek {
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

#parkeren {
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

#Geplaatste_Reserveringen {
    margin: 20px;
    padding: 20px;
    background-color: white;
    position: center;
}

#Reserveringen_Vergaderruimtes h2 {
    text-align: center;
}

#Reserveringen_Vergaderruimtes table {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    position: center;
}

#Reserveringen_Werkplek h2 {
    text-align: center;
}

#Reserveringen_Werkplek table {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    position: center;
}

#Reserveringen_Parkeerplaats h2 {
    text-align: center;
}

#Reserveringen_Parkeerplaats table {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    position: center;
}

#loginsectie {
    margin: 20px;
    padding: 20px;
    background-color: white;
    position: center;
}

#login {
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

@media screen and (max-width: 550px) {
    nav {
        display: block;
    }

    nav div:hover {
        color:white;
        padding-bottom: 0px;
    }

    header {
        height:180px;
    }
}